body {
  font-family: "Open Sans", sans-serif;
}

.templates {
  padding: 1em;
}

.section-title {
  padding: 1em;
  font-size: 1.2em;
  color: aqua;
  background-color: black;
}

.template {
  padding-top: 1em;
}

.template-title {
  font-size: 1em;
  padding: 1em;
  color: aqua;
  background-color: black;
}

.template-text {
  font-size: 1em;
  padding-left: 0.4em;
  width: 100%;
}

.default-button {
  font-size: 1em;
  margin-top: 1em;
}

.save-button {
  font-size: 1em;
  margin-top: 1em;
  margin-left: 1em;
}
